<div class="container">
  <h2 class="text-center mt-5">Editar agente</h2>
  <div class="card mx-auto mt-5" style="width: 18rem;">
    <img src="{{agente.avatar}}" class="card-img-top" alt="agente">
    <div class="card-body">
      <form>
      <label for="nombre">Nombre: </label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="agente.first_name"
          name="nombre"
        />
        <label for="apellidos">Apellidos: </label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="agente.last_name"
          name="apellidos"
        />
        <label for="email">Email: </label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="agente.email"
          name="email"
        />
        <button class="btn btn-secondary m-3">Enviar datos</button>
        <button class="btn btn-dark m-3" (click)="volver()">Volver</button>
      </form>
    </div>
  </div>
</div>
